.helloInput {
  width: 200px;
}

#test{
	border: 2px solid red;
	width: 200px;
	height: 600px;
}

#left-menu {
	border: 2px solid red;
	width: 220px;
	height: 600px;
	float: left;
}
#right-output {
	border: 2px solid blue;
	width: 600px;
	height: 600px;
	float: left;
}

.form-control {
	margin: 2px;
	width: 210px;
}

#imageUpload {
	border: 2px solid green;
	margin-bottom: 5px;
        padding: 4px;
}


input[type="file"] {
    display: none;
}

.filename {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#imageUpload p {
  line-height: 32px;
  padding-left: 10px;
}

#imageUpload label, #imageUpload button {
  background-color: #7F9CCB;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px ridge black;
  font-size: 1.8rem;
  height: auto;
}

#imageUpload label:hover, #imageUpload button:hover {
  background-color: #2D5BA3;
  color: white;
}

#imageUpload label:active, #imageUpload button:active {
  background-color: #0D3F8F;
  color: white;
}

#imageUpload img {
  height: 64px;
  order: 1;
}

#imageUpload p {
  line-height: 63px;
  padding-left: 10px;
  display: inline-block;
  background: #eee;
  width: 220px;
}

#imageUpload p.imgInitial {
  line-height: 63px;
  padding-left: 10px;
  display: inline-block;
  background: #eee;
  width: 220px;
}

#answer{
  border: 2px solid red;
  padding-left: 5px;
  padding-top: 5px;
  overflow: hidden;
}

#answer img{
  height: 264px;
  width: 350px;
  float: left;
  margin-bottom: 4px;
}

.model-answer{
  float: left;
  margin-left: 10px;
  margin-bottom: 4px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    //width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    font-size: 18px;
}
table tr:last-child {
    font-weight: bold;
}
